{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="heading">
          <h1>Projects</h1>
        </div>
        <div class="row">
        
        {%for projects in projects %}
          <div class="card">
            <div class="card-header">
              <h1>{{projects.avatar_name}}</h1>
            </div>
            <div class="card-body">
              <p>
                {{projects.project_description}}
              </p>
              <a href="#" class="btn">Code/Demo</a>
            </div>
          </div>
        {%endfor%}  



          
          
          
          
        </div>
      </div>
</body>
</html>