{%load static %}
{% load socialaccount %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="{% static 'styles/login.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login 
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login"><a href="{% provider_login_url 'google' %}" style="text-decoration: none;">Google</a></label>
               <label for="signup"  class="slide signup"><a href="{%url 'homeView'%}" style="text-decoration: none;">Home</a></label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">


               <form action="#" class="login" method="POST">
                  {%csrf_token%}
                  <div class="field">
                     <input type="text" placeholder="username" required name="username">
                     
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" required name="password">
                     
                  </div>
                  <!--
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
               -->
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  
                  <div class="signup-link">
                     Not a member? <a href="{%url 'registerView'%}">Signup now</a>
                     <br>
                     <a href="{% provider_login_url 'google' %}">Login with Google</a>
                     {{form.errors}}
                  </div>
                  
               </form>


               
               
            </div>
         </div>
      </div>
   </body>
</html>