{%load static%}
{% load socialaccount %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Register-Weelink</title>
      <link rel="stylesheet" href="{% static 'styles/login.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Sign-up
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <a href="{% provider_login_url 'google' %}" for="login" class="slide login">Google</a>
               <label for="signup" class="slide signup"></label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">



               <form   method="post" class="signup">
                  {%csrf_token%}
                  
                  <div class="field">
                     
                     {{form.username}}
                     
                  </div>
                  <div class="field">
                    
                     {{form.email}}
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Create a strong password" required {{form.password1}}
                     
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirm password" required {{form.password2}}
                     
                  </div>
                  {{form.errors}}
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                    </div> <div class="signup-link">
                        Already member? <a href="{% url 'loginView'%}">Login Now</a>
                    </div>
                  </div>
               </form>




            </div>
       
         </div>
      
     
   </body>
</html>